node_modules/
dist/
dist-electron/
release-assets/
build-log.txt
get-logs.ps1
get-logs2.ps1
android/build/
android/app/build/
android/.gradle/
android/capacitor-cordova-android-plugins/build/
ios/
.capacitor/
*.local
.env
.env.*
!.env.example
